{% extends "_base.html" %}
{% load foodflows_extras %}

{% block title %}Data description{% endblock %}

{% block header %}
  <script type="text/javascript">
  $(function(){
    $("select[name=activity]").change(function(){
      var selectedOption = $(this).find(":selected");
      var dqi = selectedOption.data("dqi");
      if (dqi == "True") {
        $("section.dqi").show();
      } else {
        $("section.dqi").hide();
        $('input[type="radio"]').prop('checked', false);
        $("section.dqi input.desc").val("");
      }
    });
    $("select[name=activity]").change();
  });
  </script>
{% endblock %}

{% block content %}

<h1>{{ city }}: Data Description</h1>

<form class="form" method="post" id="popform">

  <div class="mb-3">
    <label class="form-label">Type</label>
    <select class="form-control" name="activity" required>
      <option></option>
      {% for each in activities %}
        <option data-dqi="{{ each.has_dqi }}" value="{{ each.id }}" {% if info.activity == each %}selected{% endif %}>{{ each }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Description</label>
    <textarea name="description" rows="10" class="form-control" required>{{ info.description }}</textarea>
  </div>

  <section class="dqi">
  <h2>Data Quality indicators</h2>

  {% for each in indicators %}
    <h4>{{ each }}</h4>
    <ul class="list-unstyled">
      {% for rating in each.ratings.all %}
        <li>
          <label>
          <input type="radio" name="rating_{{ each.id }}" value="{{ rating.id }}" {% if rating.id in ratings %}checked{% endif %} />
            <strong>{{ rating.rating }}</strong>
            {{ rating.description }}
          </label>
        </li>
      {% endfor %}
    </ul>

    <input class="mb-4 desc form-control" name="description_{{ each.id }}" placeholder="Justification (if not immediately apparent)" value="{{ descriptions|get_item:each.id }}" />

  {% endfor %}

  </section>

  <button type="submit" class="btn btn-success">Save</button>
  {% csrf_token %}

</form>

<a class="mt-5 btn btn-primary" href="{% url "controlpanel_city" city.id %}">&laquo; Back to files list</a>

{% endblock %}
