{% extends "_base.html" %}

{% block title %}Food groups{% endblock %}

{% block content %}

<h1>Food groups</h1>

<p>Below is the list of food groups that are allowed. Make sure to classify each food item using this grouping. Use the exact spelling as defined below.</p>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Emissions<br>kgco2e</th>
      <th>Land Use<br>m3</th>
      <th>Water Use<br>l</th>
      <th>Description</th>
    </tr>
    {% for each in foodgroups %}
      <tr>
        <td><strong>{{ each }}</strong>
        <br>
        {{ each.description|linebreaksbr }}
        </td>
        <td>{{ each.emissions|default_if_none:"" }}</td>
        <td>{{ each.land_use|default_if_none:"" }}</td>
        <td>{{ each.water_use|default_if_none:"" }}</td>
        <td>{{ each.notes_methodology|linebreaksbr }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
