{% load foodflows_extras %}

<script type="text/javascript">

var charts = {}

var chart = echarts.init(document.getElementById('chart'));
charts["chart"] = chart; // Store the object so we can retrieve it when clicking download link

var option = {
  title: {
    text: 'Total consumption (t)',
    left: 'center'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'shadow'
    } 
  },
  legend: {
    data: [{% for each in cities %}'{{ each }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
    top: 30
  },
  xAxis: {
    type: 'value',
    name: 't/year',
    axisLabel: {
      formatter: '{value} t'
    }
  },
  yAxis: {
    type: 'category',
    inverse: true,
    data: [{% for each in foodgroups %}'{{ each|safe }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
    splitArea: {
        show: true,
        areaStyle: {
            color: ['rgba(0, 0, 0, 0.06)', 'transparent']
        }
    },
    axisLabel: {
        interval: 0, // Show all labels
        formatter: function (value) {
            var maxLength = 20; // Maximum characters to display
            if (value.length > maxLength) {
                return value.substring(0, maxLength) + '...';
            } else {
                return value;
            }
        }
    }
  },
  series: [{% for city in cities %}{
      name: '{{ city|safe }}',
      type: 'bar',
      color: '{{ city.color }}',
      data: [{% for each in foodgroups %}{{ totals|get_item:city.id|get_item:each.name|floatformat:1 }}{% if not forloop.last %},{% endif %}{% endfor %}]
    }{% if not forloop.last %},{% endif %}{% endfor %}
  ]
};

chart.setOption(option);

// Now the same for the per-capita chart
var chart_per_cap = echarts.init(document.getElementById('chart_per_cap'));
charts["chart_per_cap"] = chart_per_cap; // Store the object so we can retrieve it when clicking download link

var option_per_cap = {
  title: {
    text: 'Per-capita consumption (kg)',
    left: 'center'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'shadow'
    } 
  },
  legend: {
    data: [{% for each in cities %}'{{ each }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
    top: 30
  },
  xAxis: {
    type: 'value',
    name: 'kg/year',
    axisLabel: {
      formatter: '{value} kg'
    }
  },
  yAxis: {
    type: 'category',
    inverse: true,
    data: [{% for each in foodgroups %}'{{ each|safe }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
    splitArea: {
        show: true,
        areaStyle: {
            color: ['rgba(0, 0, 0, 0.06)', 'transparent']
        }
    },
    axisLabel: {
        interval: 0, // Show all labels
        formatter: function (value) {
            var maxLength = 20; // Maximum characters to display
            if (value.length > maxLength) {
                return value.substring(0, maxLength) + '...';
            } else {
                return value;
            }
        }
    }
  },
  series: [{% for city in cities %}{
      name: '{{ city|safe }}',
      type: 'bar',
      color: '{{ city.color }}',
      data: [{% for each in foodgroups %}{{ per_capita|get_item:city.id|get_item:each.name|floatformat:1 }}{% if not forloop.last %},{% endif %}{% endfor %}]
    }{% if not forloop.last %},{% endif %}{% endfor %}
  ]
};

chart_per_cap.setOption(option_per_cap);

</script>
