
  <div class="bg-body-tertiary mb-3">
    <ul class="nav nav-tabs mb-auto text-center">
      <li>
        <a href="{% url "ideal_diet_chart" %}?{{ request.GET.urlencode }}" title="Single comparison" class="nav-link {% if page == "chart" %}active{% endif %} py-3 ">
          <i class="bi bi-bar-chart-steps"></i>
          Single comparison
        </a>
      </li>
      <li>
        <a href="{% url "ideal_diet_diffchart" %}?{{ request.GET.urlencode }}" title="Comparative charts" class="nav-link {% if page == "diffchart" %}active{% endif %} py-3 ">
          <i class="bi bi-view-stacked"></i>
          Comparative charts
        </a>
      </li>
      <li>
        <a href="{% url "ideal_diet_foodgroups" %}?{{ request.GET.urlencode }}" title="Food group charts" class="nav-link {% if page == "foodgroups" %}active{% endif %} py-3 ">
          <i class="bi bi-collection"></i>
          Food group charts
        </a>
      </li>
      <li>
        <a href="{% url "ideal_diet_barchart" %}?{{ request.GET.urlencode }}" title="Bar charts" class="nav-link {% if page == "barchart" %}active{% endif %} py-3 ">
          <i class="bi bi-bar-chart-fill"></i>
          Bar charts
        </a>
      </li>
      <li>
        <a href="{% url "ideal_diet_barchartgrouped" %}?{{ request.GET.urlencode }}" title="Grouped bar charts" class="nav-link {% if page == "barchartgrouped" %}active{% endif %} py-3 ">
          <i class="bi bi-bar-chart-fill"></i>
          Grouped bar charts
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url "ideal_diet" %}?{{ request.GET.urlencode }}" title="Table" class="nav-link {% if page == "table" %}active{% endif %} py-3 ">
          <i class="bi bi-table"></i>
          Table
        </a>
      </li>
    </ul>
  </div>

