
  <div class="bg-body-tertiary mb-3">
    <ul class="nav nav-pills mb-auto text-center">
      <li hidden>
        <a href="{% url "impact" %}?{{ request.GET.urlencode }}" title="Overview" class="nav-link {% if page == "index" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-columns"></i>
        </a>
      </li>
      <li>
        <a href="{% url "impact_chart" "emissions" %}?{{ request.GET.urlencode }}" title="GHG Emissions" class="nav-link {% if page == "emissions" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-fire"></i>
        </a>
      </li>
      <li>
        <a href="{% url "impact_chart" "water_use" %}?{{ request.GET.urlencode }}" title="Water" class="nav-link {% if page == "water_use" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-droplet"></i>
        </a>
      </li>
      <li>
        <a href="{% url "impact_chart" "land_use" %}?{{ request.GET.urlencode }}" title="Land" class="nav-link {% if page == "land_use" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-geo"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url "impact_table" %}?{{ request.GET.urlencode }}" title="Table" class="nav-link {% if page == "table" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-table"></i>
        </a>
      </li>
    </ul>
  </div>

