
  <div class="bg-body-tertiary mb-3">
    <ul class="nav nav-pills mb-auto text-center">
      <li>
        <a href="{% url submenu %}?{{ request.GET.urlencode }}" title="Overview" class="nav-link {% if page == "overview" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-columns"></i>
        </a>
      </li>
      {% with url=submenu|add:"_barchartgrouped" %}
      <li>
        <a href="{% url url %}?{{ request.GET.urlencode }}" title="Grouped bar charts" class="nav-link {% if page == "barchartgrouped" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-bar-chart-fill"></i>
        </a>
      {% endwith %}
      </li>

      {% with url=submenu|add:"_table" %}
      <li class="nav-item">
        <a href="{% url url %}?{{ request.GET.urlencode }}" title="Table" class="nav-link {% if page == "table" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-table"></i>
        </a>
      </li>
      {% endwith %}
    </ul>
  </div>

