
  <div class="bg-body-tertiary mb-3">
    <ul class="nav nav-pills mb-auto text-center">
      <li>
        <a href="{% url "ideal_diet_chart" %}?{{ request.GET.urlencode }}" title="Single comparison" class="nav-link {% if page == "chart" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-bar-chart-steps"></i>
        </a>
      </li>
      <li>
        <a href="{% url "ideal_diet_diffchart" %}?{{ request.GET.urlencode }}" title="Comparative charts" class="nav-link {% if page == "diffchart" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-view-stacked"></i>
        </a>
      </li>
      <li>
        <a href="{% url "ideal_diet_foodgroups" %}?{{ request.GET.urlencode }}" title="Food group charts" class="nav-link {% if page == "foodgroups" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-collection"></i>
        </a>
      </li>
      <li>
        <a href="{% url "ideal_diet_barchart" %}?{{ request.GET.urlencode }}" title="Bar charts" class="nav-link {% if page == "barchart" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-bar-chart-fill"></i>
        </a>
      </li>
      <li>
        <a href="{% url "consumption_barchartgrouped" %}?{{ request.GET.urlencode }}" title="Grouped bar charts" class="nav-link {% if page == "barchartgrouped" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-bar-chart-fill"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url "consumption_table" %}?{{ request.GET.urlencode }}" title="Table" class="nav-link {% if page == "table" %}active{% endif %} py-3 border-bottom rounded-0">
          <i class="bi bi-table"></i>
        </a>
      </li>
    </ul>
  </div>

