{% extends "_base.html" %}
{% load foodflows_extras %}

{% block title %}{{ city }} | Urban Food Flows{% endblock %}

{% block content %}

<div class="row">

  <div class="col-2 p-3 bg-body-tertiary">
    {% include "_menu.city.html" %}
  </div>

  <div class="col-10">
      <h2>Data Quality Indicators</h2>
        <table class="table" style="width:auto">
          <tr>
            <th class="w"></th>
            {% for each in activities %}
              <th class="ell" title="{{ each }}">{{ each|truncatechars:10 }} </th>
            {% endfor %}
          </tr>
          </tr>
          {% for each in indicators %}
            <tr>
              <th class="w">{{ each }}</th>
              {% for activity in activities %}
                {% with rating=ratings|get_item:each|get_item:activity %}
                  <td style="min-width:50px;background:{% if rating %}{{ rating.color }}{% else %}#000{% endif %}">
                    {{ rating.rating }}
                  </th>
                {% endwith %}
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
     
  </div>

</div>

{% endblock %}
