{% extends "_base.html" %}
{% load foodflows_extras %}

{% block title %}Ideal Diet Analysis{% endblock %}

{% block header %}
<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var oldData = google.visualization.arrayToDataTable([
      ['Food group', 'Quantity'],
      {% for each in ideal %}
      ['{{ each }}', {{ each.quantity }}],
      {% endfor %}
    ]);

    var options = { legend: { position: 'top' } };

    {% for city in cities %}
    var newData{{ city.id }} = google.visualization.arrayToDataTable([
      ['Food group', '{{ city }}'],
      {% for each in ideal %}
      {% if totals|get_item:city.id|get_item:each.id %}
      ['{{ each|safe|truncatechars_html:15 }}', {{ totals|get_item:city.id|get_item:each.id }}],
      {% endif %}
      {% endfor %}
    ]);
    {% endfor %}

    {% for each in cities %}
      var chart_{{ each.id }} = new google.visualization.ColumnChart(document.getElementById('chart_{{ each.id }}'));
    {% endfor %}

    chart.draw(data_{{ city.id }}, options);
  }

</script>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-2 p-3 bg-body-tertiary">
    {% include "_menu.city.html" %}
  </div>

  <div class="col-10">

    {% include "data/_topmenu.diet.html" %}

    <h2>Ideal Diet Analysis</h2>

    <div>
    {% for each in cities %}
    <span id='chart_{{ each.id }}' style='width: 750px; height: 850px; display: inline-block'></span>
    {% endfor %}
    </div>

  </div>

</div>

{% endblock %}
