{% extends "_base.html" %}
{% load foodflows_extras %}

{% block title %}{{ info }} | Ideal Diet Analysis{% endblock %}

{% block content %}

<div class="row">

  <div class="col-9">

    <h2>Ideal Diet Analysis</h2>

    <table class="table table-striped">
      <tr>
        <th>Food Group</th>
        <th>Ideal consumption (g/day)</th>
        <th>Actual consumption (g/day)</th>
        <th>Difference</th>
      <tr>
      {% for each in ideal %}
      <tr>
        <td>
          {% for group in each.foodgroups.all %}
            {{ group }}
          {% endfor %}
        </td>
        <td>{{ each.quantity }}</td>
        <td>{{ totals|get_item:each.id|floatformat:1 }}</td>
        <td>
        {% if percentage|get_item:each.id %}
          {% if percentage|get_item:each.id > 0 %}+{% endif %}{{ percentage|get_item:each.id|floatformat:0 }}%
        {% elif totals|get_item:each.id > 0 %}
          +{{ totals|get_item:each.id|floatformat:1 }} g
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    

  </div>

  <div class="col-3 p-3 text-white bg-dark">
    {% include "_menu.city.html" %}
  </div>

</div>

{% endblock %}
