{% extends "_base.html" %}
{% load foodflows_extras %}
{% load humanize %}

{% block title %}Environmental Impact Overview{% endblock %}

{% block footer %}
  <script>
    var charts = {}

    var total_chart = echarts.init(document.getElementById('total_chart'));
    charts["total_chart"] = total_chart;

    // Specify chart configuration and data
    var option = {
      // Title of the chart
      title: {
        text: 'Total GHG emissions (Kg of CO2 equivalent)',
        left: 'center'
      },
      // Tooltip configuration
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      // Legend configuration
      legend: {
        data: [{% for each in foodgroups %}'{{ each }}'{% if not forloop.last %},{% endif %}{% endfor %}],
        top: 'bottom'
      },
      // Grid configuration
      grid: {
        left: '3%',
        right: '4%',
        bottom: '8%',
        containLabel: true
      },
      // X-axis configuration
      xAxis: {
        type: 'category',
        data: [{% for each in cities %}'{{ each }}'{% if not forloop.last %},{% endif %}{% endfor %}]
      },
      // Y-axis configuration
      yAxis: {
        type: 'value'
      },
      // Series configuration
      series: [{% for each in foodgroups %}{
          name: '{{ each }}',
          type: 'bar',
          stack: 'total',
          emphasis: {
            focus: 'series'
          },
          data: [{% for city in cities %}{% if totals_impact|get_item:city.id|get_item:each.name %}{{ totals_impact|get_item:city.id|get_item:each.name }}{% else %}0{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}],
          itemStyle: {
            color: '{{ each.color }}'
          }
        }{% if not forloop.last %},{% endif %}{% endfor %}
      ]
    };

    // Set chart configuration
    total_chart.setOption(option);

    // Repeat the same for the per-capita chart

    var per_capita_chart = echarts.init(document.getElementById('per_capita_chart'));
    charts["per_capita_chart"] = per_capita_chart;

    // Specify chart configuration and data
    var option = {
      // Title of the chart
      title: {
        text: 'Per-capita GHG emissions (Kg of CO2 equivalent)',
        left: 'center'
      },
      // Tooltip configuration
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      // Legend configuration
      legend: {
        data: [{% for each in foodgroups %}'{{ each }}'{% if not forloop.last %},{% endif %}{% endfor %}],
        top: 'bottom'
      },
      // Grid configuration
      grid: {
        left: '3%',
        right: '4%',
        bottom: '8%',
        containLabel: true
      },
      // X-axis configuration
      xAxis: {
        type: 'category',
        data: [{% for each in cities %}'{{ each }}'{% if not forloop.last %},{% endif %}{% endfor %}]
      },
      // Y-axis configuration
      yAxis: {
        type: 'value'
      },
      // Series configuration
      series: [{% for each in foodgroups %}{
          name: '{{ each }}',
          type: 'bar',
          stack: 'total',
          emphasis: {
            focus: 'series'
          },
          data: [{% for city in cities %}{% if per_capita|get_item:city.id|get_item:each.name %}{{ per_capita|get_item:city.id|get_item:each.name }}{% else %}0{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}],
          itemStyle: {
            color: '{{ each.color }}'
          }
        }{% if not forloop.last %},{% endif %}{% endfor %}
      ]
    };

    // Set chart configuration
    per_capita_chart.setOption(option);

  </script>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-2 p-3 bg-body-tertiary">
    {% include "_menu.city.html" %}
  </div>

  <div class="col-10">

    {% include "data/_topmenu.impact.html" %}

    <h2>Environmental impact</h2>

    <div class="chart">
      <a href="" title="Download" class="download" data-chart="total_chart"><i class="bi bi-download"></i></a>
      <span id='total_chart' style='width: 100%; height: 850px; display: inline-block'></span>
    </div>
    
    <div class="chart mt-5">
      <a href="" title="Download" class="download" data-chart="per_capita_chart"><i class="bi bi-download"></i></a>
      <span id='per_capita_chart' style='width: 100%; height: 850px; display: inline-block'></span>
    </div>
    

  </div>

</div>

{% endblock %}
