{% extends "_base.html" %}
{% load foodflows_extras %}

{% block title %}{{ submenu|capfirst }} - grouped bar chart{% endblock %}

{% block footer %}
  {% include "data/_barchart.js.html" %}
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-2 p-3 bg-body-tertiary">
    {% include "_menu.city.html" %}
  </div>

  <div class="col-10">

    {% include "data/_topmenu.importexport.html" %}

    <h2>{{ submenu|capfirst }}</h2>

    <div class="chart">
      <a href="" title="Download" class="download" data-chart="chart"><i class="bi bi-download"></i></a>
      <span id='chart' style='width: 100%; height: 850px; display: inline-block'></span>
    </div>

    <div class="chart">
      <a href="" title="Download" class="download" data-chart="chart_per_cap"><i class="bi bi-download"></i></a>
      <span id='chart_per_cap' style='width: 100%; height: 850px; display: inline-block'></span>
    </div>

  </div>

</div>

{% endblock %}
