<div class="cities">
  <h4>Cities</h4>

  {% if city %}
      <select class="form-control" name="instant_city">
        {% for each in CITIES %}
          <option value="{{ each.id }}" {% if each in cities or each == city %}selected{% endif %}>{{ each }}</option>
        {% endfor %}
      </select>
      {% if not city %}
        <small>Hold CTRL to select multiple cities</small>
      {% endif %}
  {% else %}
    <ul class="list-unstyled ms-3" {% if not disable_city_picker %} data-bs-toggle="modal" data-bs-target="#cityModal"{% endif %}>
    {% for each in CITIES %}
      <li class="list-group-item text-{% if each in cities or each == city %}success fw-bold{% else %}secondary{% endif %}">
        <i class="bi bi-{% if each in cities or each == city %}check-circle-fill{% else %}circle{% endif %}"></i>
        {{ each }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>

<div class="modal fade" id="cityModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" >Select cities to compare</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-control" name="cities" {% if not city %}multiple{% endif %} required>
            {% for each in CITIES %}
              <option value="{{ each.id }}" {% if each in cities or each == city %}selected{% endif %}>{{ each }}</option>
            {% endfor %}
          </select>
          {% if not city %}
            <small>Hold CTRL to select multiple cities</small>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Load data</button>
        </div>
    </form>
    </div>
  </div>
</div>

<h4 class="mt-3">Single-city data</h4>
<ul class="nav nav-pills flex-column mb-auto">
  <li>
    <a href="{% url "data_city" %}?{{ request.GET.urlencode }}" class="nav-link {% if submenu == "city" %}active{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Data homepage
    </a>
  </li>
  <li class="nav-item">
    <a href="{% if city %}{% url "city" city.id %}{% endif %}" data-id="description" class="{% if submenu == "description" %}active{% endif %} showdiv nav-link {% if not city %}disabled{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Data description
    </a>
  </li>
  <li>
    <a href="{% if city %}{% url "data_city_dqi" city.id %}{% endif %}" class="nav-link {% if not city %}disabled{% endif %} {% if submenu == "city_dqi" %}active{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Data quality indicators
    </a>
  </li>
  <li>
  {% if city and city.get_file %}
    <a href="{{ city.get_file.file.url }}" class="nav-link">
      <i class="bi bi-arrow-right-circle"></i>
      Download data
    </a>
  {% else %}
    <a href="#" class="nav-link" disabled>
      <i class="bi bi-arrow-right-circle"></i>
      Download data
    </a>
  {% endif %}
  </li>
</ul>

<h4 class="mt-3">Comparative data</h4>
<ul class="nav nav-pills flex-column mb-auto">
  <li>
    <a href="{% url "data" %}?{{ request.GET.urlencode }}" class="nav-link {% if submenu == "homepage" %}active{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Data overview
    </a>
  </li>
  <li>
    <a href="{% url "production" %}?{{ request.GET.urlencode }}" class="nav-link {% if submenu == "production" %}active{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Production
    </a>
  </li>
  <li>
    <a href="{% url "consumption_barchartgrouped" %}?{{ request.GET.urlencode }}" class="nav-link {% if submenu == "consumption" %}active{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Consumption
    </a>
  </li>
  <li>
    <a href="{% url "impact_chart" %}?{{ request.GET.urlencode }}" class="nav-link {% if submenu == "impact" %}active{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Environmental impact
    </a>
  </li>
  <li>
    <a href="{% url "ideal_diet_chart" %}?{{ request.GET.urlencode }}" class="nav-link {% if submenu == "idealdiet" %}active{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Ideal diet analysis
    </a>
  </li>
  <li>
    <a href="{% url "data_dqi" %}?{{ request.GET.urlencode }}" class="nav-link {% if submenu == "dqi" %}active{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Data quality indicators
    </a>
  </li>
  <li>
    <a href="{% url "data_table" %}?{{ request.GET.urlencode }}" class="nav-link {% if submenu == "data_table" %}active{% endif %}">
      <i class="bi bi-arrow-right-circle"></i>
      Data search
    </a>
  </li>
</ul>
