
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Cities</a>
          <ul class="dropdown-menu">
            {% for each in CITIES %}
              <li><a class="dropdown-item" href="/data/city/{{ each.id }}/">{{ each }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data/">Data Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About</a>
        </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" href="/">Log In</a>
      </form>

    </div>
  </div>
</nav>
