{% extends "_base.html" %}
{% load foodflows_extras %}

{% block title %}{{ info }} | Urban Food Flows{% endblock %}

{% block header %}
<style type="text/css">
  #dqi{display:none}
  .ell {
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      writing-mode: vertical-rl;
      text-orientation: upright;
      text-align: center;
  }
  th.w {
    width:200px !important;
  }
</style>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-9">

    <div class="showdiv" id="description">
      {% for each in descriptions %}
        <section class="mb-4">
          <h3>{{ each.activity }}</h3>
          {{ each.get_description }}

          <h4>Data Quality Indicators</h4>
            <table class="table">
              {% for indicator in each.ratings.all %}
                <tr>
                  <th>{{ indicator.indicator.indicator }}</th>
                  <td style="background:{{ indicator.indicator.color }}">{{ indicator.indicator.rating }}</th>
                  <td>
                  <small>
                  {{ indicator.indicator.description }}
                  {% if indicator.description %}
                  <br>
                  <strong>{{ indicator.description }}</strong>
                  {% endif %}
                  </small>

                  </td>
                </tr>
              {% endfor %}
            </table>
     
        </section>
      {% endfor %}
    </div>

    <div class="showdiv" id="dqi">

      <h2>Data Quality Indicators</h2>
        <table class="table" style="width:auto">
          <tr>
            <th class="w"></th>
            {% for each in activities %}
              <th class="ell" title="{{ each }}">{{ each }} </th>
            {% endfor %}
          </tr>
          </tr>
          {% for each in indicators %}
            <tr>
              <th class="w">{{ each }}</th>
              {% for activity in activities %}
                {% with rating=ratings|get_item:each|get_item:activity %}
                  <td style="min-width:50px;background:{% if rating %}{{ rating.color }}{% else %}#000{% endif %}">
                    {{ rating.rating }}
                  </th>
                {% endwith %}
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
     
    </div>

  </div>

<div class="col-3 p-3 text-white bg-dark">

    <h2>{{ info }}</h2>
    {% if info.image %}
      <img src="{{ info.image.url }}" class="img-thumbnail" />
    {% endif %}

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" data-id="description" class="showdiv nav-link active text-white" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Data description
        </a>
      </li>
      {% if info.get_file %}
      <li>
        <a href="{{ info.get_file.file.url }}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Download data
        </a>
      </li>
      {% endif %}
      <li>
        <a href="#" data-id="dqi" class="showdiv nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Data quality indicators
        </a>
      </li>
      <li>
        <a href="https://f151cf6f.us2a.app.preset.io/superset/dashboard/9/" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Go to data dashboard
        </a>
      </li>
    </ul>
    <hr>
  </div>

</div>

{% endblock %}

{% block footer %}
    <script>
    $(function(){
      $("a.showdiv").click(function(e){
        e.preventDefault();
        box = $(this).data("id");
        console.log(box);
        $("div.showdiv").hide();
        $("a.showdiv").removeClass("active");
        $(this).addClass("active");
        $("#" + box).show();
      });
    });
</script>
{% endblock %}
