{% extends "_base.html" %}
{% load foodflows_extras %}

{% block title %}{{ city }} | Urban Food Flows{% endblock %}

{% block header %}
<style type="text/css">
  #dqi{display:none}
  .ell {
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      writing-mode: vertical-rl;
      text-orientation: upright;
      text-align: center;
  }
  th.w {
    width:200px !important;
  }
</style>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-2 p-3 bg-body-tertiary">
    {% include "_menu.city.html" %}
  </div>

  <div class="col-10">

    {% for each in descriptions %}
      <section class="mb-5">
        <h2>{{ each.activity }}</h2>
        {{ each.get_description }}

        <h4>Data Quality Indicators</h4>
          <table class="table">
            {% for indicator in each.ratings.all %}
              <tr>
                <th>{{ indicator.indicator.indicator }}</th>
                <td style="background:{{ indicator.indicator.color }}">{{ indicator.indicator.rating }}</th>
                <td>
                <small>
                {{ indicator.indicator.description }}
                {% if indicator.description %}
                <br>
                <strong>{{ indicator.description }}</strong>
                {% endif %}
                </small>

                </td>
              </tr>
            {% endfor %}
          </table>
   
      </section>
    {% endfor %}

  </div>

</div>

{% endblock %}
